* {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
    max-width: 1440px;
    height: 100dvh;
    margin: 0 auto;
    background-color: var(--body-bg-color);
    color: var(--text-primary);
    overflow: hidden;
}

body>main:not(.main_content) {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
    max-width: 1440px;
    min-height: calc(100dvh - 200px);
    margin: auto;
    padding-top: 30px;
}

main {
    background: var(--main-bg-color);
}
<<<<<<< HEAD
=======

h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    line-height: 120%;
    font-size: clamp(3rem, 5vw, 3.75rem);
}

h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    line-height: 120%;
    font-size: 1.75rem;
}

h3 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    line-height: 120%;
    font-size: 1.25rem;
}

p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 120%;
    font-size: 1rem;
}

a {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 120%;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
}

.desktop_hide {
    display: none;
}

@media (max-width: 1024px) {
    .desktop_hide {
        display: flex;
    }

    .mobile_hide {
        display: none;
    }
}
>>>>>>> 9384d1fc9abf1418ad03b863fdcf0eba4278feb9
