buttons,
input {
    border: unset;
}

.back-arrow-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: none;
    border: none;
}

.back-arrow-button:hover {
    transform: scale(1.01);
    background-color: var(--ui-light-hover);
}

* {
    scrollbar-color: var(--scrollbar-secondary-thumb-color) var(--scrollbar-track-bg-color);
    scrollbar-width: thin;
}

*::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

*::-webkit-scrollbar-track {
    background: var(--scrollbar-track-bg-color);
    border-radius: 999px;
    box-shadow: inset 0 0 8px var(--scrollbar-track-shadow-color);
}

*::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, var(--scrollbar-primary-thumb-color), var(--scrollbar-secondary-thumb-color), var(--scrollbar-tertiary-thumb-color));
    border-radius: 999px;
    border: 1px solid var(--scrollbar-thumb-border-color);
    box-shadow:
        0 0 10px var(--scrollbar-primary-thumb-shadow-color),
        0 0 18px var(--scrollbar-secondary-thumb-shadow-color);
}