.dialog-contact-avatar {
    display: inline-flex;
    flex: 0 0 32px;
    justify-content: center;
    align-items: center;
    width: 32px;
    min-width: 32px;
    height: 32px;
    min-height: 32px;
    border: 1px solid var(--text-white);
    border-radius: 50%;
    font-size: 1rem;
}
