/* inter-regular - latin */
@font-face {
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../assets/fonts/interV20LatinRegular.woff2') format('woff2');

    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-500 - latin */
@font-face {
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('../assets/fonts/interV20Latin500.woff2') format('woff2');

    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-600 - latin */
@font-face {
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('../assets/fonts/interV20Latin600.woff2') format('woff2');

    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-700 - latin */
@font-face {
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../assets/fonts/interV20Latin700.woff2') format('woff2');

    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
