.topbar {
    display: flex;
    flex: 0 0 96px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 96px;
    padding: 20px 40px 20px 96px;
    background: var(--header-bg-color);
    box-shadow: 0 4px 64px rgba(0, 0, 0, .1);
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.topbar p {
    font-size: 20px;
}

.topbar-left {
    display: flex;
    align-items: center;
}

.topbar-left img {
    width: 32px;
}

.topbar-right {
    display: flex;
    align-items: center;
    gap: 16px;
}

.help-link:hover {
    transform: scale(1.2);
}

.user-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border: 2px solid var(--avatar-border);
    border-radius: 50%;
    color: var(--ui-light);
    font-weight: bold;
}

.user-circle:hover {
    background-color: var(--ui-light-hover);
}