.help-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1024px;
    padding: 72px 20px 72px 96px;
    gap: 24px;
}

.help-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.help-description,
.help-step,
.help-note {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.help-step-content {
    display: flex;
    gap: 36px;
}

.help-note {
    padding-top: 24px;
}

.help-section span {
    color: var(--text-quaternary)
}