.help-section {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
    max-width: 1024px;
}

.help-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.help-description,
.help-step,
.help-note {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.help-step-content {
    display: flex;
    gap: 36px;
}

.help-step-number {
    font-family: Inter, sans-serif;
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 120%;
}

.help-steps {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.help-note {
    padding-top: 24px;
}

.help-section span {
    color: var(--text-quaternary)
}
