body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100dvh;
    background-image: url("../assets/icons/join-logo-dark.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 274px 334px;
    background-color: var(--main-bg-color);
}

@media (max-width: 768px) {
    body {
        background-image: url("../assets/icons/join-logo-light.png");
        background-size: 100px 122px;
        background-color: var(--ui-dark);
    }
}
