.privacy {
    width: 100%;
    max-width: calc(1440px - 232px);
    padding: 60px 96px;
    font-family: 'Inter', sans-serif;
}

.privacy ul {
    margin-bottom: 40px;
    font-size: 16px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
}

.privacy h1 {
    margin-bottom: 40px;
    font-size: 64px;
}

.privacy h2 {
    margin-top: 32px;
    margin-bottom: 16px;
    font-size: 32px;
}

.privacy p {
    color: var(--text-primary);
    font-size: 16px;
    line-height: 1.6;
}