.legal-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1024px;
    gap: 24px;
    font-family: 'Inter', sans-serif;
}

.legal-content,
.legal-block {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.legal-block {
    gap: 8px;
}

.legal-section ul {
    display: flex;
    flex-direction: column;
    gap: 4px;
    list-style-position: inside;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.legal-section p {
    color: var(--text-primary);
    font-size: 16px;
}

.legal-section a {
    color: var(--text-quaternary);
}

.legal-section a:hover {
    color: var(--text-secondary);
}

.legal-section span {
    color: var(--text-quaternary);
}
