:root {
    --sidebar-bg-color: rgb(42, 54, 71);
    --main-bg-color: rgb(246, 247, 248);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topbar {
    width: 100%;
    height: 90px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 48px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .08);
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

body {
    display: flex;
    background: var(--main-bg-color);
    height: 100vh;
}

.sidebar {
    width: 230px;
    height: 100vh;
    background: var(--sidebar-bg-color);
    color: white;
    display: flex;
    flex-direction: column;
    padding: 64px 0 20px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 120px;
    padding: 0;
}

.logo img {
    width: 100px;
    height: 121px;
    display: block;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 28px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400px;
}

.menu a {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 8px 40px;
    color: #CDCDCD;
    text-decoration: none;
    font-size: 20px;
}

.menu a:hover {
    background: var(--sidebar-bg-color);
    color: white;
}

.legal-links {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400px;
}

.legal-links a {
    color: #A8A8A8;
    text-decoration: none;
    padding: 12px 40px;
    font-size: 14px;
}

.legal-links a:hover {
    background: var(--sidebar-bg-color);
    color: white;
}

.legal-links a.active {
    background: var(--sidebar-bg-color);
}

.icons_sidebar {
    height: 30px;
    width: 30px;
    object-fit: contain;
    font-size: 20px;
}

.menu a img {
    width: 30px;
    height: 30px;
    object-fit: contain;
    flex-shrink: 0;
}


.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.topbar p {
    font-size: 20px;
}

.user-circle {
    width: 48px;
    height: 48px;
    border: 2px solid var(--sidebar-bg-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #29ABE2;
    font-weight: bold;
}

.privacy {
    width: 100%;
    max-width: 1440px;
    padding: 60px 48px;
    font-family: 'Inter', sans-serif;
}

.privacy ul {
    font-size: 16px;
    margin-bottom: 40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
}

.privacy h1 {
    font-size: 64px;
    margin-bottom: 40px;
}

.privacy h2 {
    font-size: 32px;
    margin-bottom: 16px;
    margin-top: 32px;
}

.privacy p {
    font-size: 16px;
    line-height: 1.6;
    color: #444;
}