body {
    height: 100vh;
    margin: 0;
}

header {
    padding: 66px 120px 10px 77px;
    display: flex;
    justify-content: space-between;
    height: 120px;
}

header img {
    height: 120px;
}

header span {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.text-box {
    height: 630px;
    width: 598px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.06);
    border-radius: 30px;
}

.div-textbox {
    display: flex;
    justify-content: center;
}

span {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 61px;
    padding-top: 48px;
    border-bottom: 3px solid #2caae9;
    padding-bottom: 16px;
}

.textbox-div-signup {
    display: flex;
    justify-content: center;
}

.textbox-inputfield {
    width: 422px;
    height: 326px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.textbox-div-inputfield {
    display: flex;
    justify-content: center;
    padding-top: 32px;
}

input {
    height: 48px;
    border-radius: 8px;
    border-width: 1px;
    padding-left: 21px;
    border: 1px solid #ddd;
    font-size: 20px;
}

.checkbox {
    height: 24px;
    cursor: pointer;
    border-radius: 3px;
    margin-right: 8px;
}

.textbox-div-checkbox{
    display: flex;
    justify-content: center;
    align-items: center;
}

label {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-left: 5px;
    cursor: pointer;
}

p:hover {
    color: #2caae9;
}

.signup-btn {
    width: 91px;
    height: 49px;
    border-radius: 8px;
    padding: 15px 16px;
    box-sizing: border-box;
    background: #1f2a44;
    color: #fff;
    border: none;
    font-weight: 700;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.signup-btn:hover {
    background: #2a3647;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.div-btn {
    display: flex;
    justify-content: center;
    padding-top: 32px;
}